# Dependencies
node_modules/

# Build output
www/
dist/

# Native
/android
/ios
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# macOS / Windows
.DS_Store
Thumbs.db
*.pem

# Editor
.vscode/
.idea/

# Env
.env*.local

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
